<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Student Details</title>
</head>

<body>
    <div class="container">
        <div class="my-5 bg-info">
            <h4 class="text-center">Add Student informathions....</h4>
        </div>
        <form action="" method="post">
            <div class="row">
                <div class="mb-3 col-6">
                    <label for="fname" class="form-label">First Nmae</label>
                    <input type="text" class="form-control" id="fname" value="{{data.first_name}}" name="fname" aria-describedby="emailHelp">
                </div>
                <div class="mb-3 col-6">
                    <label for="lname" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="lname" name="lname" value="{{data.last_name}}" aria-describedby="emailHelp">
                </div>
            </div>


            <div class="row">
                <div class="mb-3 col-6">
                    <label for="father" class="form-label">Father Name</label>
                    <input type="text" class="form-control" id="father" name="father"value="{{data.father}}" aria-describedby="emailHelp">
                </div>
                <div class="mb-3 col-6">
                    <label for="mother" class="form-label">Mother Name</label>
                    <input type="text" class="form-control" id="mother" name="mother" value="{{data.mother}}"aria-describedby="emailHelp">
                </div>
            </div>

            <div class="mb-3">
                <label for="courses" class="form-label">Disabled select menu</label>
                <select id="courses" class="form-select" name="courses">
                    <option value="{{data.courses}}">{{data.courses}}</option>
                    <option value="BCA">BCA</option>
                    <option value="BBA">BBA</option>
                    <option value="B.com">B.com</option>
                    <option value="Bsc">Bsc</option>
                    <option value="BA">BA</option>
                </select>
            </div>

            <h6 class="my-2">Sex-</h6>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gn" id="inlineRadio1"
                    value="Male" required>
                <label class="form-check-label" for="inlineRadio1">Male</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gn" id="inlineRadio2"
                    value="Female" required>
                <label class="form-check-label" for="inlineRadio2">Female</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gn" id="inlineRadio3"
                    value="Other" required>
                <label class="form-check-label" for="inlineRadio3">Other</label>
            </div>


            <br>
           
            <div class="my-3">
                <label for="exampleFormControlTextarea1" class="form-label">Address</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="address" >{{data.address}}</textarea>
            </div>
            <div class="row m-auto">
                <input type="submit" class="btn btn-primary mb-5  col-7 m-auto" value="Stusent Update info">
                <a href="/show" class="btn btn-danger mb-5  col-3 m-auto">Back</a>
            </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>